$colors: (
  accent-color: #ff6b08,
  primary-text-color: #ffffff,
  second-text-color: #000000,
  third-text-color: #545454,
  //footer text
  four-text-color: #8c8c8c,
  //film-modal-text
  error-text-color: #ff001b,

  //under searchForm
  section-background: #ffffff,
  footer-background: #f7f7f7,

  transparent-color: rgba(0, 0, 0, 0),
  //headerBtn
  first-border-color: #ffffff,
  //btnBorder
  second-border-color: rgba(0, 0, 0, 1),
  //btnBorder
  page-btn-color: #f7f7f7,

  //(aboveFooter)
  modal-bg-color: #1e1e1e,
  modal-text-color: #ffffff,
);

@function getColor($key) {
  @return map-get($colors, $key);
} ;
