<div class="backdrop is-hidden" id="film-modal" data-modal>
  <div class="modal-film">
    <button class="modal__btn" data-modal-close type="button">
      <svg class="cross">
        <use href="../src/images/sprite/sprite.svg#cross" width="14" height="14"></use>
      </svg>
    </button>
    <div class="modal__img-wrapper">
      <img
        class="modal__img-wrapper img"
        src="https://image.tmdb.org/t/p/w342/wRnbWt44nKjsFPrqSmwYki5vZtF.jpg"
        alt="#"
        width="375px"
        height="478px"
      />
    </div>
    <div class="modal__content-wrapper">
      <h2 class="modal__tittle">A FISTFUL OF LEAD</h2>
      <div class="movie-description">
        <div class="movie-description__left">
          <p class="movie-description__options movie-description__options-grey">Vote / Votes</p>
          <p class="movie-description__options movie-description__options-grey">Popularity</p>
          <p class="movie-description__options movie-description__options-grey">Original Title</p>
          <p class="movie-description__options movie-description__options-grey">Genre</p>
        </div>

        <div class="movie-description__right">
          <p class="movie-description__options"><span class="orange">7.3 </span> / 1260</p>
          <p class="movie-description__options">100.2</p>
          <p class="movie-description__options uppercase">A FISTFUL Of LEAD</p>
          <p class="movie-description__options">Western</p>
        </div>
      </div>
      <div class="view">
        <h3 class="view__tittle">About</h3>
        <p class="view__text">
          Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the
          most corrupt settlement of the gold rush towns. But not all goes to plan one is killed and
          the other three escapes with bags of gold hide out in the abandoned gold mine where they
          happen across another gang of three – who themselves were planning to hit the very same
          bank! As tensions rise, things go from bad to worse as they realise the bags of gold are
          filled with lead... they’ve been double crossed – but by who and how?
        </p>
      </div>
      <div class="btn-wrapper">
        <!-- В кнопки нужно добавлять ID фильма  -->
        <button class="btn btn-orange" type="button" data-action="addToWatched" data-id="752623">
          add to Watched
        </button>
        <button class="btn btn-white" type="button" data-action="addToQueue" data-id="675353">
          add to queue
        </button>
      </div>
    </div>
  </div>
</div>
