<section class="section">
  <div class="container">
    <!-- <button class="testBtn" style="height: 300px">test</button> -->
    <!-- <div class="test auth">
      <button class="signIn">signIn</button>
      <button class="signOut visually-hidden">signOut</button>
      <button class="statusBtn">| user Status</button>

      <div id="firebaseui-auth-container" class="backdrop visually-hidden"></div>
    </div> -->
    <h1 class="visually-hidden"></h1>
    <ul class="filmList" id="main" data-modal-card-open data-modal-open data-target="#film-modal">
      <li class="filmList__item">
        <div class="filmList__link">
          <div class="filmList__poster">
            <picture>
              <img
                src="https://image.tmdb.org/t/p/w342/wRnbWt44nKjsFPrqSmwYki5vZtF.jpg"
                alt="greyhound"
              />
            </picture>
          </div>
          <h2 class="filmList__title">greyhound</h2>
          <div class="filmList__info">
            <p class="filmList__text">
              <span class="filmList__genge">Drama, Action</span> |
              <span class="filmList__releaseDate">2020</span>
            </p>
            <p class="filmList__voteAverage">10.0</p>
          </div>
        </div>
      </li>
      <li class="filmList__item">
        <div class="filmList__link">
          <div class="filmList__poster">
            <picture>
              <img
                src="https://image.tmdb.org/t/p/w342/wRnbWt44nKjsFPrqSmwYki5vZtF.jpg"
                alt="greyhound"
              />
            </picture>
          </div>
          <h2 class="filmList__title">greyhound</h2>
          <div class="filmList__info">
            <p class="filmList__text">
              <span class="filmList__genge">Drama, Action</span> |
              <span class="filmList__releaseDate">2020</span>
            </p>
            <p class="filmList__voteAverage">10.0</p>
          </div>
        </div>
      </li>
      <li class="filmList__item">
        <div class="filmList__link">
          <div class="filmList__poster">
            <picture>
              <img
                src="https://image.tmdb.org/t/p/w342/wRnbWt44nKjsFPrqSmwYki5vZtF.jpg"
                alt="greyhound"
              />
            </picture>
          </div>
          <h2 class="filmList__title">greyhound</h2>
          <div class="filmList__info">
            <p class="filmList__text">
              <span class="filmList__genge">Drama, Action</span> |
              <span class="filmList__releaseDate">2020</span>
            </p>
            <p class="filmList__voteAverage">10.0</p>
          </div>
        </div>
      </li>
      <li class="filmList__item">
        <div class="filmList__link">
          <div class="filmList__poster">
            <picture>
              <img
                src="https://image.tmdb.org/t/p/w342/wRnbWt44nKjsFPrqSmwYki5vZtF.jpg"
                alt="greyhound"
              />
            </picture>
          </div>
          <h2 class="filmList__title">greyhound</h2>
          <div class="filmList__info">
            <p class="filmList__text">
              <span class="filmList__genge">Drama, Action</span> |
              <span class="filmList__releaseDate">2020</span>
            </p>
            <p class="filmList__voteAverage">10.0</p>
          </div>
        </div>
      </li>
      <li class="filmList__item">
        <div class="filmList__link">
          <div class="filmList__poster">
            <picture>
              <img
                src="https://image.tmdb.org/t/p/w342/wRnbWt44nKjsFPrqSmwYki5vZtF.jpg"
                alt="greyhound"
              />
            </picture>
          </div>
          <h2 class="filmList__title">greyhound</h2>
          <div class="filmList__info">
            <p class="filmList__text">
              <span class="filmList__genge">Drama, Action</span> |
              <span class="filmList__releaseDate">2020</span>
            </p>
            <p class="filmList__voteAverage">10.0</p>
          </div>
        </div>
      </li>
      <li class="filmList__item">
        <div class="filmList__link">
          <div class="filmList__poster">
            <picture>
              <img
                src="https://image.tmdb.org/t/p/w342/wRnbWt44nKjsFPrqSmwYki5vZtF.jpg"
                alt="greyhound"
              />
            </picture>
          </div>
          <h2 class="filmList__title">greyhound</h2>
          <div class="filmList__info">
            <p class="filmList__text">
              <span class="filmList__genge">Drama, Action</span> |
              <span class="filmList__releaseDate">2020</span>
            </p>
            <p class="filmList__voteAverage">10.0</p>
          </div>
        </div>
      </li>
      <li class="filmList__item">
        <div class="filmList__link">
          <div class="filmList__poster">
            <picture>
              <img
                src="https://image.tmdb.org/t/p/w342/wRnbWt44nKjsFPrqSmwYki5vZtF.jpg"
                alt="greyhound"
              />
            </picture>
          </div>
          <h2 class="filmList__title">greyhound</h2>
          <div class="filmList__info">
            <p class="filmList__text">
              <span class="filmList__genge">Drama, Action</span> |
              <span class="filmList__releaseDate">2020</span>
            </p>
            <p class="filmList__voteAverage">10.0</p>
          </div>
        </div>
      </li>
      <li class="filmList__item">
        <div class="filmList__link">
          <div class="filmList__poster">
            <picture>
              <img
                src="https://image.tmdb.org/t/p/w342/wRnbWt44nKjsFPrqSmwYki5vZtF.jpg"
                alt="greyhound"
              />
            </picture>
          </div>
          <h2 class="filmList__title">greyhound</h2>
          <div class="filmList__info">
            <p class="filmList__text">
              <span class="filmList__genge">Drama, Action</span> |
              <span class="filmList__releaseDate">2020</span>
            </p>
            <p class="filmList__voteAverage">10.0</p>
          </div>
        </div>
      </li>
      <li class="filmList__item">
        <div class="filmList__link">
          <div class="filmList__poster">
            <picture>
              <img
                src="https://image.tmdb.org/t/p/w342/wRnbWt44nKjsFPrqSmwYki5vZtF.jpg"
                alt="greyhound"
              />
            </picture>
          </div>
          <h2 class="filmList__title">greyhound</h2>
          <div class="filmList__info">
            <p class="filmList__text">
              <span class="filmList__genge">Drama, Action</span> |
              <span class="filmList__releaseDate">2020</span>
            </p>
            <p class="filmList__voteAverage">10.0</p>
          </div>
        </div>
      </li>
      <li class="filmList__item">
        <div class="filmList__link">
          <div class="filmList__poster">
            <picture>
              <img
                src="https://image.tmdb.org/t/p/w342/wRnbWt44nKjsFPrqSmwYki5vZtF.jpg"
                alt="greyhound"
              />
            </picture>
          </div>
          <h2 class="filmList__title">greyhound</h2>
          <div class="filmList__info">
            <p class="filmList__text">
              <span class="filmList__genge">Drama, Action</span> |
              <span class="filmList__releaseDate">2020</span>
            </p>
            <p class="filmList__voteAverage">10.0</p>
          </div>
        </div>
      </li>
      <li class="filmList__item">
        <div class="filmList__link">
          <div class="filmList__poster">
            <picture>
              <img
                src="https://image.tmdb.org/t/p/w342/wRnbWt44nKjsFPrqSmwYki5vZtF.jpg"
                alt="greyhound"
              />
            </picture>
          </div>
          <h2 class="filmList__title">greyhound</h2>
          <div class="filmList__info">
            <p class="filmList__text">
              <span class="filmList__genge">Drama, Action</span> |
              <span class="filmList__releaseDate">2020</span>
            </p>
            <p class="filmList__voteAverage">10.0</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
