<footer class="footer">
  <div class="container">
    <div class="footer_custom-div">
      <p class="footer_copy-text">
        &copy 2022 | <span class="lng-rights">All Rights Reserved</span> |
      </p>
      <div class="footer_mobile-custom-div">
        <p class="footer_dev-text lng-developers">&nbsp Developed with</p>
        <svg class="footer_icon">
          <use href="./images/sprite/sprite.svg#heart"></use>
        </svg>
        <p class="footer_dev-text">
          <span class="lng-by">by</span>
          <button
            type="button"
            class="footer_btn lng-students"
            data-target="#team-modal"
            data-modal-open
          >
            GoIT Students
          </button>
        </p>
      </div>
    </div>
  </div>
</footer>
