<header class="header">
  <div class="container header-container header-home" data-header-container>
    <div class="header-box">
      <!--#region LOGO #-->
      <a href="../src/index.html" class="logo">
        <svg width="24" height="24">
          <use href="./images/sprite/sprite.svg#logo" aria-label="Логотип"></use>
        </svg>
        <span class="logo-title">Filmoteka</span>
      </a>
      <!--#endregion #-->

      <!--#region NAVIGATION #-->
      <nav>
        <ul class="nav">
          <li class="nav-item">
            <button
              class="nav-btn header-btn-current lng-home"
              aria-label="Кнопка на початкову сторінку"
              data-header-btn="home"
            >
              Home
            </button>
          </li>
          <li class="nav-item">
            <button
              class="nav-btn visually-hidden"
              aria-label="Кнопка на мою бібліотеку"
              data-header-btn="myLib"
            >
              My library
            </button>
          </li>
          <li class="nav-item">
            <button
              class="nav-btn signIn lng-signIn"
              aria-label="Кнопка на реєстрацію"
              data-header-btn="signIn"
            >
              Sign in
            </button>
            <button
              class="nav-btn signOut visually-hidden lng-signOut"
              aria-label="Кнопка на реєстрацію"
              data-header-btn="signOut"
            >
              Sign out
            </button>
          </li>
        </ul>
      </nav>
      <!--#endregion #-->
    </div>

    <!--#region HOME SEARCH #-->
    <form class="search-form" id="search-form">
      <input
        class="search-input"
        type="text"
        name="searchFilm"
        autocomplete="off"
        placeholder="Пошук фільмів"
      />

      <button
        class="search-btn"
        aria-label="кнопка пошуку фільму"
        type="submit"
        width="12"
        heght="12"
      >
        <svg class="search-btn-icon" width="12" height="12">
          <use href="./images/sprite/sprite.svg#search"></use>
        </svg>
      </button>
    </form>
    <!--#endregion #-->

    <!--#region MY LIBRARY BTN  #-->
    <div class="my-lib-box visually-hidden" id="my-lib-box" data-my-lib-box>
      <button class="my-lib-btn">Watched</button>
      <button class="my-lib-btn">Queue</button>
    </div>
    <!--#endregion #-->

    <!--#region LANG -->
    <div class="lang__dropout">
      <div class="lang__select">
        <span class="lang__selected lng-ukS">Ukr</span>
        <div class="caret"></div>
      </div>
      <ul class="lang__menu">
        <li class="lang__active lng-ua" data-lang title="ua">Ukr</li>
        <li class="lng-en" data-lang title="en">Eng</li>
      </ul>
    </div>
    <!--#endregion #-->
  </div>
  <div id="firebaseui-auth-container" class="backdrop is-hidden" data-modal></div>
</header>
