<section>
    <div class="backdrop is-hidden" team-modal>
        <div class="modal">
            <button type="button" class="modal__close-button" team-modal-close>
                S
            </button>
            <h2 class="modal__title">Team Info</h2>
                <ul class="modal__list">
                    <li class="modal__item">
                      <div class="modal__item-img">
                        <img src=""
                        alt="ФОТОЧКА"
                        width="250"
                        height="294"
                        />
                      </div>
                      <div class="modal__item-fill">
                      <p class="modal__item-name">тут будет имя</p>
                      <p class="modal__item-info">тут будет краткая инфа</p>
                      </div>
                    </li>
                    <li class="modal__item">
                        <div class="modal__item-img">
                          <img src=""
                          alt="ФОТОЧКА"
                          width="250"
                          height="294"
                          />
                        </div>
                        <div class="modal__item-fill">
                        <p class="modal__item-name">тут будет имя</p>
                        <p class="modal__item-info">тут будет краткая инфа</p>
                        </div>
                      </li>
                      <li class="modal__item">
                        <div class="modal__item-img">
                          <img src=""
                          alt="ФОТОЧКА"
                          width="250"
                          height="294"
                          />
                        </div>
                        <div class="modal__item-fill">
                        <p class="modal__item-name">тут будет имя</p>
                        <p class="modal__item-info">тут будет краткая инфа</p>
                        </div>
                      </li>
                      <li class="modal__item">
                        <div class="modal__item-img">
                          <img src=""
                          alt="ФОТОЧКА"
                          width="250"
                          height="294"
                          />
                        </div>
                        <div class="modal__item-fill">
                        <p class="modal__item-name">тут будет имя</p>
                        <p class="modal__item-info">тут будет краткая инфа</p>
                        </div>
                      </li>
                      <li class="modal__item">
                        <div class="modal__item-img">
                          <img src=""
                          alt="ФОТОЧКА"
                          width="250"
                          height="294"
                          />
                        </div>
                        <div class="modal__item-fill">
                        <p class="modal__item-name">тут будет имя</p>
                        <p class="modal__item-info">тут будет краткая инфа</p>
                        </div>
                      </li>
                      <li class="modal__item">
                        <div class="modal__item-img">
                          <img src=""
                          alt="ФОТОЧКА"
                          width="250"
                          height="294"
                          />
                        </div>
                        <div class="modal__item-fill">
                        <p class="modal__item-name">тут будет имя</p>
                        <p class="modal__item-info">тут будет краткая инфа</p>
                        </div>
                      </li>
                      <li class="modal__item">
                        <div class="modal__item-img">
                          <img src=""
                          alt="ФОТОЧКА"
                          width="250"
                          height="294"
                          />
                        </div>
                        <div class="modal__item-fill">
                        <p class="modal__item-name">тут будет имя</p>
                        <p class="modal__item-info">тут будет краткая инфа</p>
                        </div>
                      </li>
                      <li class="modal__item">
                        <div class="modal__item-img">
                          <img src=""
                          alt="ФОТОЧКА"
                          width="250"
                          height="294"
                          />
                        </div>
                        <div class="modal__item-fill">
                        <p class="modal__item-name">тут будет имя</p>
                        <p class="modal__item-info">тут будет краткая инфа</p>
                        </div>
                      </li>
                      <li class="modal__item">
                        <div class="modal__item-img">
                          <img src=""
                          alt="ФОТОЧКА"
                          width="250"
                          height="294"
                          />
                        </div>
                        <div class="modal__item-fill">
                        <p class="modal__item-name">тут будет имя</p>
                        <p class="modal__item-info">тут будет краткая инфа</p>
                        </div>
                      </li>
                  </ul>
                </div>
              </div>
</section>
