<section>
  <div class="backdrop is-hidden" data-team-modal>
    <div class="modal-team">
      <button type="button" class="modal-team__close-button" data-team-modal-close>
        <svg class="modal-team__button-icon--close" width="11" height="11">
          <use href="/images/sprite/sprite.svg#cross"></use>
        </svg>
      </button>
      <h2 class="modal-team__title"><span class="lng-team">TEAM</span> QUENTIN FILMOTINO</h2>
      <ul class="modal-team__list">
        <li class="modal-team__item">
          <div class="modal-team__item-img">
            <img src="/images/photos/Evgeny-Onishchenko.jpg" alt="ФОТОЧКА" />
          </div>
          <div class="modal-team__item-fill">
            <p class="modal-team__item-name lng-yevheniy">Yevheniy Onyshchenko</p>
            <p class="modal-team__item-pos">Team Lead</p>
            <p class="lng-yevheniyDesc modal-team__item-info">
              The structure of the project, problem solving, help the team in the implementation of
              tasks
            </p>
          </div>
        </li>
        <li class="modal-team__item">
          <div class="modal-team__item-img">
            <img src="/images/photos/Anna-Miklukha.jpg" alt="ФОТОЧКА" />
          </div>
          <div class="modal-team__item-fill">
            <p class="modal-team__item-name lng-anna">Anna Miklukha</p>
            <p class="lng-scrum modal-team__item-pos">Scrum мастер</p>
            <p class="lng-annaDesc modal-team__item-info">Normalize, render modal, localization</p>
          </div>
        </li>
        <li class="modal-team__item">
          <div class="modal-team__item-img">
            <img src="/images/photos/Boris-Korsun.jpg" alt="ФОТОЧКА" />
          </div>
          <div class="modal-team__item-fill">
            <p class="modal-team__item-name lng-boris">Boris Korsun</p>
            <p class="lng-developer modal-team__item-pos">Developer</p>
            <p class="lng-borisDesc modal-team__item-info">Footer, mixins, API request</p>
          </div>
        </li>
        <li class="modal-team__item">
          <div class="modal-team__item-img">
            <img src="/images/photos/Den-Kochergin.jpg" alt="ФОТОЧКА" />
          </div>
          <div class="modal-team__item-fill">
            <p class="modal-team__item-name lng-denis">Den Kochergin</p>
            <p class="lng-developer modal-team__item-pos">Developer</p>
            <p class="lng-denisDesc modal-team__item-info">Top button, spinner</p>
          </div>
        </li>
        <li class="modal-team__item">
          <div class="modal-team__item-img">
            <img src="/images/photos/Fenota-Victoria.jpg" alt="ФОТОЧКА" />
          </div>
          <div class="modal-team__item-fill">
            <p class="modal-team__item-name lng-victoria">Fenota Victoria</p>
            <p class="lng-developer modal-team__item-pos">Developer</p>
            <p class="lng-victoriaDesc modal-team__item-info">Markup film modal, pagination</p>
          </div>
        </li>
        <li class="modal-team__item">
          <div class="modal-team__item-img">
            <img src="/images/photos/Vlad-Pomynchuk.jpg" alt="ФОТОЧКА" />
          </div>
          <div class="modal-team__item-fill">
            <p class="modal-team__item-name lng-vlad">Vlad Pomynchuk</p>
            <p class="lng-developer modal-team__item-pos">Developer</p>
            <p class="lng-vladDesc modal-team__item-info">Grid of cards, firebase</p>
          </div>
        </li>
        <li class="modal-team__item">
          <div class="modal-team__item-img">
            <img src="/images/photos/Vladyslav-Kruchok.jpg" alt="ФОТОЧКА" />
          </div>
          <div class="modal-team__item-fill">
            <p class="modal-team__item-name lng-vladyslav">Vladyslav Kruchok</p>
            <p class="lng-developer modal-team__item-pos">Developer</p>
            <p class="lng-vladyslavDesc modal-team__item-info">
              Markup header, switch between homepage and library
            </p>
          </div>
        </li>
        <li class="modal-team__item">
          <div class="modal-team__item-img">
            <img src="/images/photos/Volodymyr-Savranskyi.jpg" alt="ФОТОЧКА" />
          </div>
          <div class="modal-team__item-fill">
            <p class="modal-team__item-name lng-volodymyr">Volodymyr Savranskyi</p>
            <p class="lng-developer modal-team__item-pos">Developer</p>
            <p class="lng-volodymyrDesc modal-team__item-info">Container, dark/light themes</p>
          </div>
        </li>
        <li class="modal-team__item">
          <div class="modal-team__item-img">
            <img src="/images/photos/Alexander-Zabolotnyi.jpg" alt="ФОТОЧКА" />
          </div>
          <div class="modal-team__item-fill">
            <p class="modal-team__item-name lng-olexander">Olexander Zabolotnyi</p>
            <p class="lng-developer modal-team__item-pos">Developer</p>
            <p class="lng-olexanderDesc modal-team__item-info">
              Markup team modal, render list of cards, genres
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
