<section>
    <div class="backdrop is-hidden" data-modal>
        <div class="modal-team">
            <button type="button" class="modal-team__close-button" data-modal-close>
              <svg class="modal-team__button-icon--close" width="11" height="11">
                <use href="/images/sprite/sprite.svg#cross"></use>
              </svg>
            </button>
            <h2 class="modal-team__title">TEAM QUENTIN FILMOTINO</h2>
                <ul class="modal-team__list">
                    <li class="modal-team__item">
                      <div class="modal-team__item-img">
                        <img src="/images/photos/Evgeny-Onishchenko.jpg"
                        alt="ФОТОЧКА"
                        />
                      </div>
                      <div class="modal-team__item-fill">
                      <p class="modal-team__item-name">Evgeny Onishchenko</p>
                      <p class="modal-team__item-pos">тут будет позиция</p>
                      <p class="modal-team__item-info">тут будет краткая инфа</p>
                      </div>
                    </li>
                    <li class="modal-team__item">
                        <div class="modal-team__item-img">
                          <img src="/images/photos/Anna-Miklukha.jpg"
                          alt="ФОТОЧКА"
                          />
                        </div>
                        <div class="modal-team__item-fill">
                        <p class="modal-team__item-name">Anna Miklukha</p>
                        <p class="modal-team__item-pos">тут будет позиция</p>
                        <p class="modal-team__item-info">тут будет краткая инфа</p>
                        </div>
                      </li>
                      <li class="modal-team__item">
                        <div class="modal__item-img">
                          <img src="/images/photos/Boris-Korsun.jpg"
                          alt="ФОТОЧКА"
                          />
                        </div>
                        <div class="modal-team__item-fill">
                        <p class="modal-team__item-name">Boris Korsun</p>
                        <p class="modal-team__item-pos">тут будет позиция</p>
                        <p class="modal-team__item-info">тут будет краткая инфа</p>
                        </div>
                      </li>
                      <li class="modal-team__item">
                        <div class="modal-team__item-img">
                          <img src="/images/photos/Den-Kochergin.jpg"
                          alt="ФОТОЧКА"
                          />
                        </div>
                        <div class="modal-team__item-fill">
                        <p class="modal-team__item-name">Den Kochergin</p>
                        <p class="modal-team__item-pos">тут будет позиция</p>
                        <p class="modal-team__item-info">тут будет краткая инфа</p>
                        </div>
                      </li>
                      <li class="modal-team__item">
                        <div class="modal-team__item-img">
                          <img src="/images/photos/Fenota-Victoria.jpg"
                          alt="ФОТОЧКА"
                          />
                        </div>
                        <div class="modal-team__item-fill">
                        <p class="modal-team__item-name">Fenota Victoria</p>
                        <p class="modal-team__item-pos">тут будет позиция</p>
                        <p class="modal-team__item-info">тут будет краткая инфа</p>
                        </div>
                      </li>
                      <li class="modal-team__item">
                        <div class="modal-team__item-img">
                          <img src="/images/photos/Vlad-Pomynchuk.jpg"
                          alt="ФОТОЧКА"
                          />
                        </div>
                        <div class="modal-team__item-fill">
                        <p class="modal-team__item-name">Vlad Pomynchuk</p>
                        <p class="modal-team__item-pos">тут будет позиция</p>
                        <p class="modal-team__item-info">тут будет краткая инфа</p>
                        </div>
                      </li>
                      <li class="modal-team__item">
                        <div class="modal-team__item-img">
                          <img src="/images/photos/Vladyslav-Kruchok.jpg"
                          alt="ФОТОЧКА"
                          />
                        </div>
                        <div class="modal-team__item-fill">
                        <p class="modal-team__item-name">Vladyslav Kruchok</p>
                        <p class="modal-team__item-pos">тут будет позиция</p>
                        <p class="modal-team__item-info">тут будет краткая инфа</p>
                        </div>
                      </li>
                      <li class="modal-team__item">
                        <div class="modal-team__item-img">
                          <img src="/images/photos/Volodymyr-Savranskyi.jpg"
                          alt="ФОТОЧКА"
                          />
                        </div>
                        <div class="modal-team__item-fill">
                        <p class="modal-team__item-name">Volodymyr Savranskyi</p>
                        <p class="modal-team__item-pos">тут будет позиция</p>
                        <p class="modal-team__item-info">тут будет краткая инфа</p>
                        </div>
                      </li>
                      <li class="modal-team__item">
                        <div class="modal-team__item-img">
                          <img src="/images/photos/Alexander-Zabolotnyi.jpg"
                          alt="ФОТОЧКА"
                          />
                        </div>
                        <div class="modal-team__item-fill">
                        <p class="modal-team__item-name">Alexander Zabolotnyi</p>
                        <p class="modal-team__item-pos">тут будет позиция</p>
                        <p class="modal-team__item-info">тут будет краткая инфа</p>
                        </div>
                      </li>
                  </ul>
                </div>
              </div>
</section>
