html,
body {
    height: 100%;
};

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
};

.main {
    flex: 1 1 auto;
}

// footer

.footer {
    min-height: 100px;
    padding-top: 29px;
    padding-bottom: 29px;

    background-color: getColor('footer-background');

    @media screen and (min-width: $tablet) {
        min-height: 79px;
    };

    @media screen and (min-width: $tablet) {
        min-height: 77px;
    };
};

// footer-text

.footer_copy-text, .footer_dev-text {
    @include font(14px, 16px, 400);
    text-align: center;

    color: getColor(third-text-color);
};

.footer_copy-text {
    margin-bottom: 10px;
};

.footer_mobile-custom-div {
    display: flex;

    @media screen and (max-width: $pre-tablet) {
        justify-content: center;
    };
}

// bg-img

.footer_icon {
    width: 13px;
    height: 13px;

    margin: 0 10px;
};

// footer-btn

.footer_btn {
    text-decoration: underline;
};

//footer-flexbox

@media screen and (min-width: $tablet) {
    .footer_custom-div {
        display: flex;

        justify-content: center;
        align-items: center;
    };

    .footer_copy-text {
        margin-bottom: 0;
    };
};

