/*
//320px
@media screen and (min-width: $mobile) {

}
//768px
@media screen and (min-width: $tablet) {

}
//1024px
@media screen and (min-width: $desktop) {

}
*/

//#region LOGO #
.header { background-color: inherit;}
.logo { background-color: inherit;}
.logo-icon { background-color: inherit;}
.logo-title { background-color: inherit;}
//#endregion #

//#region NAVIGATION #
.nav { background-color: inherit;}
.nav-item { background-color: inherit;}
.nav-link { background-color: inherit;}
//#endregion #

//#region SEARCH #
.search-form { background-color: inherit;}
.search-input { background-color: inherit;}
.search-btn { background-color: inherit;}
.search-btn-icon { background-color: inherit;}
//#endregion #