.scroll {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    opacity: 0;
    visibility: hidden;
    text-decoration: none;
    fill:#ff620092;
    cursor: pointer;
  &:hover, &:focus{
    fill: getColor(accent-color);
   transform: scale(1.5);
  }
    &.scroll--isShown {
      opacity: 1;
      visibility: visible;
    }
  }
  .icon_arrow-up{
      width: 50px;
      height: 50px;
  }